html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Quarto Black";
  src: url("https://db.onlinewebfonts.com/t/42c3607f840e222a23d6da4efe15a2e8.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/42c3607f840e222a23d6da4efe15a2e8.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/42c3607f840e222a23d6da4efe15a2e8.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/42c3607f840e222a23d6da4efe15a2e8.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/42c3607f840e222a23d6da4efe15a2e8.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/42c3607f840e222a23d6da4efe15a2e8.svg#Quarto Black")
      format("svg"); /* iOS 4.1- */
}

h1 {
  font-family: "Quarto Black", sans-serif;
  color: rgb(232, 230, 227);
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Lato", sans-serif;
  color: rgb(232, 230, 227);
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  line-height: 1.9rem;
  font-size: 1.4rem;
}

b,
strong {
  font-weight: 500;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181a1b;
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
//layout
// html {
//   background-color: black;
// }
header {
  padding: 0 2rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  .logo {
    font-size: 1.3rem;
  }
  .headerRow {
    display: flex;
    flex-flow: row;
    .git {
      img {
        height: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.1rem;
      }
    }
  }
}

footer {
  padding: 0 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: 5rem;
  border-top: solid 1px #eaeaea;
  align-items: center;
  border-top-color: rgb(55, 55, 55);
  background-color: rgb(25, 27, 28);
  .logo {
    font-size: 1.3rem;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 500;
  }
  img {
    height: 2rem;
  }
}

//index
.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 80vh;
  padding: 0 2rem;
  h1 {
    margin-bottom: 2.5rem;
  }
  h3 {
    margin-bottom: 2rem;
    line-height: 2.2rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.work {
  position: relative;
  .slick-dots {
    bottom: 3rem;
  }
  .slick-next {
    display: none;
  }
  .slick-prev {
    bottom: 3rem;
    left: 2rem;
    top: auto;
    &:before {
      color: black;
    }
  }
  .slick-dots li button:before {
    font-size: 10px;
    color: rgb(232, 230, 227);
  }
  .slick-dots li.slick-active button::before {
    color: rgb(232, 230, 227);
  }
  .workContainer {
    width: 100%;
    position: relative;
    .workSingle {
      display: flex !important;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      .workInfo {
        padding-left: 2rem;
        h2 {
          margin-bottom: 1rem;
        }
      }
      .workDevices {
        position: relative;
        overflow: hidden;
        width: 50rem;
        height: 35rem;
        .workMobile {
          bottom: 3rem;
          right: 21rem;
          background-image: url(/static/img/device.png);
          height: 25rem;
          width: 17rem;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          .workPlaceholder {
            position: absolute;
            height: 18.8rem;
            width: 10.5rem;
            right: 3.6rem;
            bottom: 3rem;
            object-fit: cover;
          }
        }
        .workLaptop {
          background-image: url("/static/img/laptopW.png");
          height: 41rem;
          width: 55rem;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          right: -18rem;
          bottom: -6.5rem;
          .workPlaceholderLaptop {
            position: absolute;
            height: 24rem;
            width: 38.1rem;
            right: 8.9rem;
            bottom: 12.6rem;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  header {
    .headerRow {
      p {
        text-align: right;
        margin-left: 3rem;
        line-height: 1.3rem;
      }
      .git {
        display: none;
      }
    }
  }

  footer {
    height: 2rem;
  }

  .hero {
    height: auto;
    padding-top: 7rem;
    h3 {
      font-size: 1.8rem;
    }
  }

  .work {
    margin-top: 2rem;
    .workContainer {
      .workSingle {
        flex-flow: column;
        align-items: initial;
        .workDevices {
          width: 100%;
          height: 22rem;
          .workLaptop {
            height: 91.2vw;
            width: 118%;
            right: -9rem;
            bottom: -2.5rem;
            .workPlaceholderLaptop {
              height: 52vw;
              width: 82.1vw;
              right: 4.9rem;
              bottom: 30.3vw;
            }
          }
          .workMobile {
            bottom: 2rem;
            right: 52%;
            height: 57.7vw;
            width: 34%;
            .workPlaceholder {
              height: 39.5vw;
              width: 22vw;
              right: 6vw;
              bottom: 11.5vw;
            }
          }
        }
      }
    }
  }
}
