html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Fira Sans', sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  line-height: 1.9rem;
  font-size: 1.4rem;
}

b,
strong {
  font-weight: 500;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
//layout
// html {
//   background-color: black;
// }
header {
  padding: 0 2rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  .logo {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .headerRow {
    display: flex;
    flex-flow: row;
    .git {
      img {
        height: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.1rem;
      }
    }
  }
}

footer {
  padding: 0 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: 5rem;
  border-top: solid 1px #eaeaea;
  align-items: center;
  background-color: #fcfcfc;
  .logo {
    font-size: 1.3rem;
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 500;
  }
  img {
    height: 2rem;
  }
}

//index
.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 80vh;
  padding: 0 2rem;
  h1 {
    margin-bottom: 2.5rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
}

.work {
  position: relative;
  .slick-dots {
    bottom: 3rem;
  }
  .slick-next {
    display: none;
  }
  .slick-prev {
    bottom: 3rem;
    left: 2rem;
    top: auto;
    &:before {
      color: black;
    }
  }
  .slick-dots li button:before {
    font-size: 10px;
  }
  .workContainer {
    width: 100%;
    position: relative;
    .workSingle {
      display: flex !important;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      .workInfo {
        padding-left: 2rem;
        h2 {
          margin-bottom: 1rem;
        }
      }
      .workDevices {
        position: relative;
        overflow: hidden;
        width: 50rem;
        height: 35rem;
        .workMobile {
          bottom: 3rem;
          right: 21rem;
          background-image: url(/static/img/device.png);
          height: 25rem;
          width: 17rem;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          .workPlaceholder {
            position: absolute;
            height: 18.8rem;
            width: 10.5rem;
            right: 3.6rem;
            bottom: 3rem;
            object-fit: cover;
          }
        }
        .workLaptop {
          background-image: url('/static/img/laptop.png');
          height: 34rem;
          width: 46rem;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          right: -12rem;
          .workPlaceholderLaptop {
            position: absolute;
            height: 24rem;
            width: 37.8rem;
            right: 4.2rem;
            bottom: 5.2rem;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  header {
    .headerRow {
      p {
        text-align: right;
        margin-left: 3rem;
        line-height: 1.3rem;
      }
      .git {
        display: none;
      }
    }
  }

  .hero {
    padding-top: 7rem;
  }

  .work {
    margin-top: 2rem;
    .workContainer {
      .workSingle {
        flex-flow: column;
        align-items: initial;
        .workDevices {
          width: 100%;
          height: 22rem;
          .workLaptop {
            height: 77.2vw;
            width: 100%;
            right: -6rem;
            .workPlaceholderLaptop {
              height: 52vw;
              width: 83vw;
              right: 2rem;
              bottom: 14.7vw;
            }
          }
          .workMobile {
            bottom: 2rem;
            right: 52%;
            height: 57.7vw;
            width: 34%;
            .workPlaceholder {
              height: 39.5vw;
              width: 22vw;
              right: 6vw;
              bottom: 11.5vw;
            }
          }
        }
      }
    }
  }
}
